 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello. My name is AhRaKo. I am a sophomore majoring in software convergence at Sookmyung Women's University!</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently studying with an interest in app development. Currently, I am studying focusing on Android apps.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/ahra1221" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Looking GITHUB
                    </a>
                </div>
            </div>
        </div>
    </section>
