 <!-- Study Grid Section -->
 <section id="study">
    <div class="container study-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Study</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="study-flex-row">
            <!-- {% for post in site.posts %}
                <div class="study-flex-item study-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="study-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/study/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>
            {% endfor %}  -->
            <div class="study-flex-item study-item">
                <a href="#portfolioModal-7" class="study-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/study/siss.png" class="img-responsive" alt="{{ post.alt }}">
                </a>
            </div>
            <div class="study-flex-item study-item">
                <a href="#portfolioModal-8" class="study-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/study/algos.png" class="img-responsive" alt="{{ post.alt }}">
                </a>
            </div>
            <div class="study-flex-item study-item">
                <a href="#portfolioModal-8" class="study-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/study/solve.png" class="img-responsive" alt="{{ post.alt }}">
                </a>
            </div>
        </div>
    </div>
</section>
© 2022 GitHub, Inc.
Terms
Privacy